.footer {
  font-size: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
