// .carousel-personal {
//     display: flex;
//     justify-content: center;
// }
// .carousel-caption__title {
//     font-family: 'Cedarville Cursive', cursive;
//     font-size: 30px;
// }

.bg-image{
    background: content-box no-repeat url('https://media.tenor.com/FoTB9BBQYV4AAAAC/glee-cook-book.gif');
    background-size: cover;
    height: 100%;
    opacity: 20%;
}

.text {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color:#000;
    opacity: 100%;
}

.final-text {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 40px;
}

