img {
    max-width: 600px;
    margin-bottom: 20px;
}

.content {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 36px;
}